<!DOCTYPE html>
<html>
    <head>
        <title>Page de lancement</title>
    </head>
    <body>
        <h1>Hello {{ nom }} !</h1>
		<br />
			<a href="{{ loginUrl }}" target="_blank">Veuillez vous connecter avec Facebook</a>
		{% if logoutUrl is defined %}
			<br />
				<a href="{{ logoutUrl }}" target="_blank">Se déconnecter</a>
			</p>
		{% endif %}
		
		
		<div class="fb-like" data-share="true" data-width="450" data-show-faces="true"></div>
    </body>
</html>